<!DOCTYPE html>
<html>
  <head>
        <link href="styles/awards.css" rel="stylesheet">
    <meta charset="utf-8">

    <title>About Us</title>

    <title>About Endurance</title>

  </head>
  <body>
      <h1>Endurance</h1>

      <input type="checkbox" id="menuToggle">
    <label for="menuToggle" class="menu-icon">&#9776;</label>

    <nav class="menu">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
            <li><a href="/workouts">Workouts</a></li>
            <li><a href="/awards">Awards</a></li>
            <li><a href="/routine">Add Routine</a></li>
            <li><a href="/workout_history">Workout History</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>
    <span class="textbody">
        <p>Endurance is a webapp that functions as an online fitness journal.
          With Endurance you can upload and store your customized workout
          routines for later access. If you do not wish to create your own
          routine you may use one of the routines Endurance provides. In
          addition to storing routines, exercises suggested by Endurance link
          directly to short YouTube videos that will demonstrate how to perform
          each exercise. After completing your workout routine, you can input
          the type of exercise you have done along with the quantity and
          Endurance will record this amount. Once you have completed a certain
          number of exercises, Endurance will automatically award you an
          accomplishment to ensure that you remain motivated. You may access
          your exercise stats and accomplishments at any time. </p>
      </span>
  </body>
</html>
