<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src = "scripts/abs.js"></script>
    <link href="styles/headtest.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Ab Workouts</title>
  </head>
  <body>

    <h1> Endurance </h1>
  <input type="checkbox" id="menuToggle">
<label for="menuToggle" class="menu-icon">&#9776;</label>

    <nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/awards">Awards</a></li>
          <li><a href="/routine">Add Routine</a></li>
          <li><a href="/workout_history">Workout History</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="{{redirect}}">Log Out</a></li>
      </ul>
  </nav>

    <span class="textbody">
    <h2>Abs </h2>
      <button class = "back"><a href="/workouts">Back</a></button>
      <p> Click on a workout to view:
          <span class = "smalltext"></br>Beginner: repeat set 2-3 times // Intermediate: repeat set 3-4 times // Advanced: repeat set 5+ times </span>
      <button class = "1">Set #1</button>
      <button class = "2">Set #2</button>
      <button class = "3">Set #3</button>
      <button class = "4">Set #4</button>
      <h4 class="welcome">not working</h4>
      Click on a Youtuber to see workout playlist:</br>
      <button class = "video1">Blogilates</button>
      <button class = "video2">XYZ Fitness</button>
      <button class = "video3">Katie Austin</button>
      <button class = "video4">HASfit</button>

    </span>
  </body>
