<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Awards</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src = "scripts/general.js"></script>
 <link href="styles/headtest.css" rel="stylesheet">
  </head>
  <body>
  <span class="textbody">
    <h1> Endurance </h1>
  <input type="checkbox" id="menuToggle">
<label for="menuToggle" class="menu-icon">&#9776;</label>

    <nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/awards">Awards</a></li>
          <li><a href="/routine">Add Routine</a></li>
          <li><a href="/workout_history">Workout History</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="{{redirect}}">Log Out</a></li>
      </ul>
  </nav>

<div>
  <h3> Awards: </h3>
  <h2>Congratulations!</h2>
  <div id="award">
  </div>
    <p>You did {{routine_number}} routines.</p>
    <div>
    <img src="{{gif}}">
    </div>
  </div>
  </span>
  </body>
</html>
