<!Doctype html>
<html>
	<head>
		<link href="/styles/headtest.css" rel="stylesheet">
		<title>RG</title>
	</head>
	<body>
		<p>Search for a Gif:</p>
		<form action="/" method="post">
		<!--saying to use the post rather than the get portion of the mainhandler push to / or to /search-->
			<input type="text" name="search">
			<!--all the elements have name in form and relates the name of the input to the param for self.requests otherwise it wouldnt work -->
			<input type="submit" name="button">
		</form>
	</body>
</html>
