<!DOCTYPE html>
<html>
  <head>
    <link href="styles/headtest.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type ='text/javascript' src='scripts/workouts.js'></script>
    <meta charset="utf-8">
    <title>Workout Help</title>
  </head>
  <body>
        <h1> Endurance </h1>
    <input type="checkbox" id="menuToggle">
  <label for="menuToggle" class="menu-icon">&#9776;</label>

  <nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/awards">Awards</a></li>
          <li><a href="/routine">Add Routine</a></li>
          <li><a href="/workout_history">Workout History</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="{{redirect}}">Log Out</a></li>
      </ul>
  </nav>
    <span class="textbody">
            <div><a href="/workouts"><button class = "back">Back</button></a>
              <h3>Instructions</h3><br>
                <p>A rep is one repetition of a certain exercise. Performing one push up means you have done one rep. Doing two chin ups means you did two reps. A set is composed of multiple reps. For example, the sample workout routine below recommends doing 10 push ups and beginners should do 2 or 3 sets meaning that 20 or 30 push ups will be performed by beginners.</p><br>
                <table>
                    <tr>
                      <span class="bolded">  <td><u>Exercise</td>
                        <td><u>Reps</td> </span>
                    </tr>
                    <tr>
                        <td>Push Ups</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Bench Dips</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Chin Ups</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Plank</td>
                        <td>30 (sec)</td>
                    </tr>
                  </table></br>
                <p>Perform one set of the first exercise, then do one set of each subsequent exercise. For instance, in the above sample workout routine, you will do 10 push ups, 12 bench dips, 10 chin ups, and one 30 sec plank. When you finish the last exercise, do the exercises in order again until you have done the desired sets of each.</p><br>
                <p>The number of sets that you should do depends on your level of experience. Beginners should perform 2 or 3 sets of each exercise. If you are intermediate, perform 3 or 4 sets. Those who are advanced should easily perform 5+ sets.</p><br>
                <p>If these workouts are too easy, you can do more reps (or longer time if exercise is timed) for each exercise. You can also do more sets. Each exercise has more difficult variations, which can be found with simple web searches.</p><br>
            </div>
        </span>
    </span>
  </body>
</html>
