<!DOCTYPE html>
  <link href="styles/login.css" rel="stylesheet">
<html>
  <head>
    <meta charset="utf-8">
    <title>Endurance</title>
  </head>

  <body>

  	<a href="/about">About Us</a>

  	<body>
  		<div>
  		{%if user%}
  			Welcome, {{usernickname}}!<a href="{{redirect}}">sign out</a>
  		</br>
  		{%else%}
			<a href="{{create_login}}">Sign in or Register</a>.
		{%endif%}

		<a href="/about">About Us</a>
  		</div>

    <div>
        {%if user%}
            Welcome, {{usernickname}}!<a href="{{redirect}}">sign out</a>
        </br>
        {%else%}
          <a href="{{create_login}}">Sign in or Register</a>.
      {%endif%}

      <a href="/about">About Us</a>
    </div>

  </body>
</html>
