<!DOCTYPE html>
  <link href="styles/workouts.css" rel="stylesheet">
<html>
  <head>
    <link href="styles/headtest.css" rel="stylesheet">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type ='text/javascript' src='scripts/routine.js'></script>
    <title></title>
  </head>
  <body>
        <h1> Endurance </h1>
    <input type="checkbox" id="menuToggle">
  <label for="menuToggle" class="menu-icon">&#9776;</label>

  <nav class="menu">
      <ul>
        <li><a href="/">Home</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/awards">Awards</a></li>
          <li><a href="/routine">Add Routine</a></li>
          <li><a href="/workout_history">Workout History</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="{{redirect}}">Log Out</a></li>
      </ul>
  </nav>

      <div id="routine">
      <input id="submit" type="submit" name="submit">
      <input id="plus" type="button" name="add">
      </div>

  <span class="textbody">
      <form id="routine" method='get' action="/routine" name="routine">
      Quanity<input type="text" name="quantity">(reps or seconds)
      Exercise: <input type="text" name="description">
      </form>
      <input id="plus" type="button" name="+">
      <input id="submit" type="submit" name="+">
</span>

  </body>
</html>
