<!DOCTYPE html>
<html>
  <head>
    <link href="styles/headtest.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type ='text/javascript' src='scripts/workouts.js'></script>
    <meta charset="utf-8">
    <title>Exercises and Routines</title>
  </head>
  <body>
        <h1> Endurance </h1>
    <input type="checkbox" id="menuToggle">
  <label for="menuToggle" class="menu-icon">&#9776;</label>

  <nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/awards">Awards</a></li>
          <li><a href="/routine">Add Routine</a></li>
          <li><a href="/workout_history">Workout History</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="{{redirect}}">Log Out</a></li>
      </ul>
  </nav>
    <span class="textbody">
<a href="/workouts"><button class = "back">Back</button></a>

    <h3>Recommended Supplies for our Sample Routines:</h3>
        <ul>
            <li><a href="https://www.google.com/search?rlz=1C1CHBF_enUS753US753&biw=1536&bih=759&tbm=isch&sa=1&q=pull+up+bar&oq=pull+up+bar&gs_l=psy-ab.3..0l4.420478.423816.0.424227.11.11.0.0.0.0.90.861.11.11.0....0...1.1.64.psy-ab..0.11.855...0i67k1.v_a9iRFdypo" target="_blank">Pull Up Bar</a></li>
            <li>Elevated Platform (ex: Sturdy Chair)</li>
            <li><a href="https://www.google.com/search?rlz=1C1CHBF_enUS753US753&biw=1536&bih=759&tbm=isch&sa=1&q=dip+bar&oq=dip+bar&gs_l=psy-ab.3..0i67k1j0l3.12144.12759.0.13049.3.3.0.0.0.0.92.259.3.3.0....0...1.1.64.psy-ab..0.3.257.2rn54rM-kks" target="_blank">Dip Bar</a></li>
          <br>
        </ul>
        </span>
  </body>
</html>
