<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src = "scripts/upperbody.js"></script>
    <link href="styles/headtest.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Upper Body Workouts</title>
  </head>
  <body>
    <span class="textbody">
    <h2>Upper Body </h2>
      <button class = "back"><a href="/workouts">Back</a></button>
      <p> Click on a workout to view: <p>
      <button class = "1">1</button>
      <button class = "2">2</button>
      <button class = "3">3</button>
      <button class = "4">4</button>
      <h4 class="welcome"></h4>
      Click on a Youtuber to see workout playlist:</br>
      <button class = "video1">XHIT Daily</button>
      <button class = "video2">Fitness with PJ</button>
      <button class = "video3">Ditch TV</button>
      <button class = "video4">Blogilates</button>
    </span>
  </body>
</html>
