<!DOCTYPE html>
<html>
  <head>
    <link href=" styles/headtest.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>My Exercise History</title>
  </head>
  <body>
        <h1> Endurance </h1>
    <input type="checkbox" id="menuToggle">
  <label for="menuToggle" class="menu-icon">&#9776;</label>

  <nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/awards">Awards</a></li>
          <li><a href="/routine">Add Routine</a></li>
          <li><a href="/workout_history">Workout History</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="{{redirect}}">Log Out</a></li>
      </ul>
  </nav>
  <span class ="textbody">
    <h2>Workout History:</h2> </br>
  <div>
    {%for routine in history%}
    <span class = "ws">
      <h4>Date</h4>
      {{routine.timestamp}}
      <h4>Quantity</h4>
      {{routine.quantity}}
      <h4>Exercise</h4>
      {{routine.description}}</br>
      -------------------------------------------------------------------------
    </span>
    {%endfor%}
    </ul>
  </div>
</span>
  </body>
</html>
