<!DOCTYPE html>
<html>
  <head>
    <link href="styles/headtest.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type ='text/javascript' src='scripts/workouts.js'></script>
    <meta charset="utf-8">
    <title>Exercises and Routines</title>
  </head>
  <body>
        <h1> Endurance </h1>
    <input type="checkbox" id="menuToggle">
  <label for="menuToggle" class="menu-icon">&#9776;</label>

  <nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/awards">Awards</a></li>
          <li><a href="/routine">Add Routine</a></li>
          <li><a href="/workout_history">Workout History</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="{{redirect}}">Log Out</a></li>
      </ul>
  </nav>
    <span class="textbody">
<h3> Basic Information: </h3>
<p><ul> <li>Click <a href="/supplies">here</a> to see a list of recommended supplies</li>
  <li> Click <a href="/instructions">here</a> to see instructions </li>
  <li>Click <a href="/workouthowto">here</a> to see how to do the exercises in our sample routines. </li>
</ul></br>

          <h3> Select the area you would like to focus on:</h3>
          <span class= "button1">
          <button class = "upperbody"><a href="/upperbody">Upper Body</a></button>
          <button class = "lowerbody"><a href="/lowerbody">Lower Body</a></button>
          <button class = "abs"><a href="/abs">Abs</a></button>
        </span>
    </span>
  </body>
</html>
