<!DOCTYPE html>
<html>
  <head>
    <link href="styles/awards.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type ='text/javascript' src='scripts/workouts.js'></script>
    <meta charset="utf-8">
    <title>Exercises and Routines</title>
  </head>
  <body>
        <h1> Endurance </h1>
    <input type="checkbox" id="menuToggle">
  <label for="menuToggle" class="menu-icon">&#9776;</label>

  <nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/awards">Awards</a></li>
          <li><a href="/routine">Add Routine</a></li>
          <li><a href="/workout_history">Workout History</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
  <span class="textbody">
  <p> *Click <a href="/workouthowto">here</a> to see how to do the workout moves in our sample routines.*</p><br>
      <div>

    <h3>Recommended Supplies for our Sample Routines:</h3>
      <ul>
          <li><a href="https://www.google.com/search?rlz=1C1CHBF_enUS753US753&biw=1536&bih=759&tbm=isch&sa=1&q=pull+up+bar&oq=pull+up+bar&gs_l=psy-ab.3..0l4.420478.423816.0.424227.11.11.0.0.0.0.90.861.11.11.0....0...1.1.64.psy-ab..0.11.855...0i67k1.v_a9iRFdypo" target="_blank">Pull Up Bar</a></li>
          <li><a href="https://www.google.com/search?rlz=1C1CHBF_enUS753US753&biw=1536&bih=759&tbm=isch&sa=1&q=dip+bar&oq=dip+bar&gs_l=psy-ab.3..0i67k1j0l3.12144.12759.0.13049.3.3.0.0.0.0.92.259.3.3.0....0...1.1.64.psy-ab..0.3.257.2rn54rM-kks" target="_blank">Dip Bar</a></li>
          <li><a href="https://www.google.com/search?q=plyometric+box&rlz=1C1CHBF_enUS753US753&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiQxPWn79nVAhVRzWMKHXhQA2gQ_AUICygC&biw=1536&bih=759" target="_blank">Plyometric Box</a> or other Elevated Platform (Sturdy Chair for ex.)</li><br>
      </ul>

          <div>
            <h3>Instructions</h3><br>
              <p>A rep is one repetition of a certain exercise. Performing one push up means you have done one rep. Doing two chin ups means you did two reps. A set is composed of multiple reps. For example, Upper Body Sample Workout Routine #1 recommends doing 2 or 3 sets of 10 push ups meaning that 20 or 30 push ups will be performed.</p><br>
              <p>Perform one set of the first exercise, then do one set of each subsequent exercise. For instance, in Upper Body Sample Workout Routine #1, you will do 10 push ups, 12 bench dips, 10 chin ups, and one 30 sec plank. When you finish the last exercise, do the exercises in order again until you have done the desired sets of each.</p><br>
              <p>The number of sets that you should do depends on your level of experience. Beginners should perform 2 or 3 sets of each exercise. If you are intermediate, perform 3 or 4 sets. Those who are advanced should easily perform 5+ sets.</p><br>
              <p>If these workouts are too easy, you can do more reps (or longer time if exercise is timed) for each exercise. You can also do more sets. Each exercise has more difficult variations, which can be found with simple web searches.</p><br>
          </div>

        <h3> Sample Routines - select which area of the body you would like to focus on</h3><br>
        <button class = "upperbody"><a href="/upperbody">Upper Body</a></button>
        <button class = "lowerbody"><a href="/lowerbody">Lower Body</a></button>
        <button class = "abs"><a href="/abs">Abs</a></button>

    </span>
  </body>
</html>
