<!DOCTYPE html>
<html>
  <head>
    <link href="styles/awards.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Exercises and Routines</title>
  </head>

  <body>
        <h1> Endurance </h1>
    <input type="checkbox" id="menuToggle">
  <label for="menuToggle" class="menu-icon">&#9776;</label>

  <nav class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
          <li><a href="/workouts">Workouts</a></li>
          <li><a href="/awards">Awards</a></li>
          <li><a href="/routine">Add Routine</a></li>
          <li><a href="/workout_history">Workout History</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/logout">Log Out</a></li>
      </ul>
  </nav>
      <div>
        <h1>Exercises</h1>
          <p>Endurance targets the three major muscle areas of the human body: upper body, lower body, and the abdominals or abs.</p>
          <p>The following lists under major muscle areas provide exercises with links to Youtube videos.</p>
        <h2>Upper Body</h2>
          <ul>
            <li><a href= "https://www.youtube.com/watch?v=Eh00_rniF8E" target="_blank">Push Ups</a></li>
            <li><a href= "https://www.youtube.com/watch?v=J0DnG1_S92I" target="_blank">Diamond Push Ups</a></li>
            <li><a href= "https://www.youtube.com/watch?v=rr6eFNNDQdU" target="_blank">Wide Push Ups</a></li>
            <li><a href= "https://www.youtube.com/watch?v=Z0bRiVhnO8Q" target="_blank">Incline Push Ups</a></li>
            <li><a href= "https://www.youtube.com/watch?v=SKPab2YC8BE" target="_blank">Decline Push Ups</a></li>
            <li><a href= "https://www.youtube.com/watch?v=_71FpEaq-fQ" target="_blank">Chin Ups</a></li>
            <li><a href= "https://www.youtube.com/watch?v=Ir8IrbYcM8w" target="_blank">Pull Ups</a></li>
            <li><a href= "https://www.youtube.com/watch?v=w-brmyvgnNE" target="_blank">Wide Grip Pull Ups</a></li>
            <li><a href= "https://www.youtube.com/watch?v=j--ftfgTL5I" target="_blank">Close Grip Pull Ups</a></li>
            <li><a href= "https://www.youtube.com/watch?v=yNwmnb_bHuc" target="_blank">Chin Above Bar Hold</a></li>
            <li><a href= "https://www.youtube.com/watch?v=wjUmnZH528Y" target="_blank">Dips</a></li>
            <li><a href= "https://www.youtube.com/watch?v=0326dy_-CzM" target="_blank">Bench Dips</a></li>
            <li><a href= "https://www.youtube.com/watch?v=pSHjTRCQxIw" target="_blank">Plank</a></li>
          </ul>
        <h2>Lower Body</h2>
          <ul>
            <li><a href= "https://www.youtube.com/watch?v=aclHkVaku9U" target="_blank">Squats</a></li>
            <li><a href= "https://www.youtube.com/watch?v=9ZuXKqRbT9k" target="_blank">Sumo Squats</a></li>
            <li><a href= "https://www.youtube.com/watch?v=CVaEhXotL7M" target="_blank">Jump Squats</a></li>
            <li><a href= "https://www.youtube.com/watch?v=QF0BQS2W80k" target="_blank">Lunges</a></li>
            <li><a href= "https://www.youtube.com/watch?v=52r_Ul5k03g" target="_blank">Box Jumps</a></li>
            <li><a href= "https://www.youtube.com/watch?v=ZZZoCNMU48U" target="_blank">High Knees</a></li>
            <li><a href= "https://www.youtube.com/watch?v=Kw4QpPfX-cU" target="_blank">Jumping Lunges</a></li>
            <li><a href= "https://www.youtube.com/watch?v=-M4-G8p8fmc" target="_blank">Calf Raises</a></li>
            <li><a href= "https://www.youtube.com/watch?v=XULOKw4E4P4" target="_blank">Wall Sit</a></li>
          </ul>
        <h2>Abs</h2>
          <ul>
            <li><a href= "https://www.youtube.com/watch?v=1fbU_MkV7NE" target="_blank">Sit Ups</a></li>
            <li><a href= "https://www.youtube.com/watch?v=Xyd_fa5zoEU" target="_blank">Crunches</a></li>
            <li><a href= "https://www.youtube.com/watch?v=JB2oyawG9KI" target="_blank">Leg Raises</a></li>
            <li><a href= "https://www.youtube.com/watch?v=OLR-NDGDefg" target="_blank">Knee Raises</a></li>
            <li><a href= "https://www.youtube.com/watch?v=2_XrhSBW8-M" target="_blank">Side to Side Knee Raises</a></li>
            <li><a href= "https://www.youtube.com/watch?v=1wBgF_AJeWE" target="_blank">V Hold</a></li>
            <li><a href= "https://www.youtube.com/watch?v=NXr4Fw8q60o" target="_blank">Side Planks (Left then Right)</a></li>
            <li><a href= "https://www.youtube.com/watch?v=9FGilxCbdz8" target="_blank">Bicycle Kicks</a></li>
            <li><a href= "https://www.youtube.com/watch?v=pSHjTRCQxIw" target="_blank">Plank</a></li>
            <li><a href= "https://www.youtube.com/watch?v=WoNCIBVLbgY" target="_blank">Scissor Kicks</a></li>
            <li><a href= "https://www.youtube.com/watch?v=C35_SRFBwHM" target="_blank">Heel Touches</a></li>
            <li><a href= "https://www.youtube.com/watch?v=_EzCB25HG5c" target="_blank">Flutter Kicks</a></li>
          </ul>
      </div>





  </body>
</html>
