* { padding: 0; margin: 0; }
body {
   background-image: url("http://wallpapercave.com/wp/IKCREeg.png");
   background-repeat: repeat-y;
}
a { text-decoration: none; color: #00A5CC; }
h1{
	color: white;
	font-size: 90px;
	text-align: center;
	background-color: grey;
	text-shadow:5px 5px black;
	font-family:"Arial Black", Gadget, sans-serif;
	height: auto;
}

header {
	width: 100%;
	margin: auto;
	border-bottom: 1px solid #EEE;
}

nav { width: 100%; text-align: center; }
nav a {
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #white;
	color: white;
}
nav a:hover { background: rgb(232, 236, 239); color: #FFF; }
nav li:last-child a { border-bottom: none; }

span.textbody{
  color: white;
  position: absolute;
  left: 300px;
  top: 300px;
   padding-right: 150px;
  font-size: 25px;
  text-shadow: 10px;
    border: 15px double white;
    border-radius: 30px;
    padding: 50px;
     box-shadow: 3px 3px 4px black;
}
.menu {
	width: 240px;
	height: 100%;
	position: relative;
	background: rgb(31, 35, 43);
	left: -240px;
	transition: all 1s ease-in-out;

}
.menu-icon {
	padding: 10px 20px;
	background: rgb(31, 35, 43);
	color: white;
	cursor: pointer;
  float:right;
	margin: 6px 6px 0 0;
	border-radius: 5px;
}
#menuToggle { display: none; }

#menuToggle:checked ~ .menu { position: absolute; left: 0; }
